<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>BPS Transportation Challenge</title>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="../static/main.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/main.js') }}">
    </head>

    <body>
        <header>
            <div class="header">
                <p id="sitename">Boston Public School Transportation Challenge</p>
                <p id="tagline">Routing Optimization</p>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="http://bostonpublicschools.org/transportationchallenge">Challenge</a></li>
                    <li><a href="http://datamechanics.org/">Data Mechanics</a></li>
                    <li><a href="https://github.com/lingyigu/course-2017-spr-proj/tree/master/echogu_wei0496_wuhaoyu">GitHub</a></li>
                </ul
            </div>
        </header>

        <div id="content">
            <h2>Visualize Bus Routes</h2>
            <div class = "map">
                <script src="https://embed.github.com/view/geojson/lingyigu/course-2017-spr-proj/master/echogu_wei0496_wuhaoyu/visualizations/bus_route.geojson"></script>
            </div>
            <h2>Visualize Bus Routes, Schools and Yards</h2>
            <div class = "map">
                <script src="https://embed.github.com/view/geojson/lingyigu/course-2017-spr-proj/master/echogu_wei0496_wuhaoyu/visualizations/bus_route_schools.geojson"></script>

            </div>
            <!-- <script type="text/javascript" src="../static/bus_route.js"></script> -->
            <!-- <script src="{{ url_for('static', filename='/bus_route.js') }}" ></script> -->
        </div>

        <footer>
            <ul>
                <p>&copy; CS591L1 Data Mechanics Spring 2017</p>
            </ul>
        <footer>
    </body>
</html>
