<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>BPS Transportation Challenge</title>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="../static/main.css">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/main.js') }}"> -->
    </head>

    <body>
        <header>
            <p id="sitename"><a href="">Boston Public School Transportation Challenge</a></p>
            <p id="tagline">Routing Optimization</p>
        </header>

        <nav>
            <ul>
                <li><a href="">Challenge</a></li>
                <li><a href="">Data Mechanics</a></li>
                <li><a href="">GitHub</a></li>
            </ul>
        </nav>

        <div id="content">
            <script src="https://embed.github.com/view/geojson/lingyigu/course-2017-spr-proj/master/echogu_wei0496_wuhaoyu/visualizations/bus_route.geojson"></script>
            <script src="https://embed.github.com/view/geojson/lingyigu/course-2017-spr-proj/master/echogu_wei0496_wuhaoyu/visualizations/bus_route_schools.geojson"></script>
            <!-- <script type="text/javascript" src="../static/bus_route.js"></script> -->
            <!-- <script src="{{ url_for('static', filename='/bus_route.js') }}" ></script> -->
        </div>

        <div id="footer">
            <ul>
                <p>&copy; CS591L1 Data Mechanics Spring 2017</p>
            </ul>
        </div>
    </body>
</html>
