<!DOCTYPE html>
<html lang="en">
  <head>

  	<title>Data Mechanics</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<!-- Latest compiled JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>
    <style type="text/css">
  	.jumbotron{
  		text-align:center;
	  }
	.well {
	}
    .button {
    background-color: lavender;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
	p {
		font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
        

  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
 
  </style>
<!--- Header -->
  	<div class="jumbotron text-center">
  		<h1>Welcome to DataMechanic's Spring 2017 project</h1>
    </div>

  <center>
    <h2> by Megan Horan, Ryan Chen, Victoria Thompson</h2>
  </center>

  <div class="container">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
        
           
      <div id='box-bottom' style="margin-top: 30px; width: 400px; font-size: 12px; text-align: left;" >
          <a href="/kmeans_visual">Go To Bus Yard visualization </a> &nbsp; <br>
          <a href="/kmeans_cost_graph">Go To K-means cost graph</a>  &nbsp; <br>
          <a href="http://datamechanics.org/">Data Mechanics Class</a>  &nbsp; &nbsp;<br>
          <a href="https://github.com/ryanscodebay/course-2017-spr-proj/tree/master/mrhoran_rnchen_vthomson">Our GitHub</a> 
      </div>
    </div>
    </div>


  </body>
  </html>