<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body> 
{% extends "base.html" %}

{% block title %}Optimization{% endblock %}

{% block body %}
    
    <!-- <header ><h1>Find the best office location</h1></header> -->
    <div class="con">
        
    <div class="opt">

      <br><br><br><br><br><br>
      <h3 style="text-align: center;">Please select your personal desired ratings for each aspect:</h3>
<br>
        <p></p>
      <form class="ratings" action="/optimize-result/" method="GET">
        <p></p>
        
        <p style="text-align: left;"><span style="color:red">Food</span>:
        <select class="select" name="Food" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <p style="text-align: left;"><span style="color:red">Transport</span>:
        <select class="select" name="Transport" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <p style="text-align: left;"><span style="color:red">Safety</span>:
        <select class="select" name="Safety" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <p style="text-align: left;"><span style="color:red">Rent</span>:
        <select class="select" name="Rent" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></p>

        <div class='button' style="clear:both;text-align: center;"> <input type="submit" value="Research" > </div>
      </form>
    </div>

    <!-- Home Page Button -->
    <a href="/" class="button">Home Page <i class="icon-chevron-right"></i></a>
    
    <div class="my-container">

        <img src="/static/img/Boston.jpg">
    </div>

    </div>

{% endblock %}
<!--   </body>
</html>