{% extends "base.html" %}

{% block title %}Static Analysis{% endblock %}

{% block body %}

<br>
<h2 style="color: black">Statical Analysis</h2>

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: auto;
  height: 500px;
  position: relative;
}
svg {
    width: 100%;
    height: 100%;
    position: center;
}
text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
}
rect {
    stroke-width: 2;
}
text {
  font: 10px sans-serif;
}
.axis text {
  font: 10px sans-serif;
}
.axis path{
  fill: none;
  stroke: #000;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}
.axisHorizontal path{
  fill: none;
}
.axisHorizontal line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axisHorizontal .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}
.bar {
  fill: steelblue;
  fill-opacity: .9;
}
.x.axis path {
  display: none;
}
</style>

<body>
<br>
<p style="text-align: left;margin-left: 50px;margin-right: auto;"><strong>In this project, 30 blocks were randomly choosed to present the grades of 4 attributes (Tansport/ Safety/ Rent/ Food) that we were interested in.</strong></p>

<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
var margin = {top: (parseInt(d3.select('body').style('width'), 10)/10), right: (parseInt(d3.select('body').style('width'), 10)/20), bottom: (parseInt(d3.select('body').style('width'), 10)/5), left: (parseInt(d3.select('body').style('width'), 10)/20)},
    width = parseInt(d3.select('body').style('width'), 10) - margin.left - margin.right,
    height = parseInt(d3.select('body').style('height'), 10) - margin.top - margin.bottom;
var x0 = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);
var x1 = d3.scale.ordinal();
var y = d3.scale.linear()
    .range([height, 0]);
var colorRange = d3.scale.category20();
var color = d3.scale.ordinal()
    .range(colorRange.range());
var xAxis = d3.svg.axis()
    .scale(x0)
    .orient("bottom");
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));
var divTooltip = d3.select("body").append("div").attr("class", "toolTip");
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
dataset = [
{label:"B1", "Tansport":1, "Safety":4, "Rent":3, "Food":1},
{label:"B2", "Tansport":2, "Safety":3, "Rent":3, "Food":1},
{label:"B3", "Tansport":1, "Safety":5, "Rent":4, "Food":1},
{label:"B4", "Tansport":2, "Safety":3, "Rent":4, "Food":2},
{label:"B5", "Tansport":5, "Safety":2, "Rent":3, "Food":1},
{label:"B6", "Tansport":1, "Safety":5, "Rent":5, "Food":2},
{label:"B7", "Tansport":2, "Safety":4, "Rent":4, "Food":2},
{label:"B8", "Tansport":3, "Safety":3, "Rent":4, "Food":4},
{label:"B9", "Tansport":3, "Safety":2, "Rent":3, "Food":4},
{label:"B10", "Tansport":4, "Safety":1, "Rent":5, "Food":3},
{label:"B11", "Tansport":4, "Safety":3, "Rent":5, "Food":4},
{label:"B12", "Tansport":3, "Safety":5, "Rent":4, "Food":2},
{label:"B13", "Tansport":3, "Safety":4, "Rent":4, "Food":2},
{label:"B14", "Tansport":5, "Safety":3, "Rent":4, "Food":2},
{label:"B15", "Tansport":5, "Safety":2, "Rent":3, "Food":2},
{label:"B16", "Tansport":3, "Safety":1, "Rent":4, "Food":4},
{label:"B17", "Tansport":5, "Safety":1, "Rent":4, "Food":1},
{label:"B18", "Tansport":3, "Safety":2, "Rent":4, "Food":4},
{label:"B19", "Tansport":2, "Safety":3, "Rent":3, "Food":2},
{label:"B20", "Tansport":4, "Safety":1, "Rent":3, "Food":5},
{label:"B21", "Tansport":5, "Safety":1, "Rent":4, "Food":3},
{label:"B22", "Tansport":2, "Safety":3, "Rent":3, "Food":5},
{label:"B23", "Tansport":1, "Safety":5, "Rent":1, "Food":2},
{label:"B24", "Tansport":4, "Safety":2, "Rent":1, "Food":1},
{label:"B25", "Tansport":5, "Safety":1, "Rent":1, "Food":5},
{label:"B26", "Tansport":5, "Safety":1, "Rent":1, "Food":4},
{label:"B27", "Tansport":1, "Safety":4, "Rent":1, "Food":3},
{label:"B28", "Tansport":3, "Safety":4, "Rent":1, "Food":3},
{label:"B29", "Tansport":5, "Safety":2, "Rent":1, "Food":3},
{label:"B30", "Tansport":4, "Safety":2, "Rent":1, "Food":5},
{label:"", "Tansport":0, "Safety":0, "Rent":0, "Food":0},
{label:"", "Tansport":0, "Safety":0, "Rent":0, "Food":0},
];
var options = d3.keys(dataset[0]).filter(function(key) { return key !== "label"; });
dataset.forEach(function(d) {
    d.valores = options.map(function(name) { return {name: name, value: +d[name]}; });
});
x0.domain(dataset.map(function(d) { return d.label; }));
x1.domain(options).rangeRoundBands([0, x0.rangeBand()]);
y.domain([0, d3.max(dataset, function(d) { return d3.max(d.valores, function(d) { return d.value; }); })]);
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Grades");
var bar = svg.selectAll(".bar")
    .data(dataset)
    .enter().append("g")
    .attr("class", "rect")
    .attr("transform", function(d) { return "translate(" + x0(d.label) + ",0)"; });
bar.selectAll("rect")
    .data(function(d) { return d.valores; })
    .enter().append("rect")
    .attr("width", x1.rangeBand())
    .attr("x", function(d) { return x1(d.name); })
    .attr("y", function(d) { return y(d.value); })
    .attr("value", function(d){return d.name;})
    .attr("height", function(d) { return height - y(d.value); })
    .style("fill", function(d) { return color(d.name); });
bar
    .on("mousemove", function(d){
        divTooltip.style("left", d3.event.pageX+10+"px");
        divTooltip.style("top", d3.event.pageY-25+"px");
        divTooltip.style("display", "inline-block");
        var x = d3.event.pageX, y = d3.event.pageY
        var elements = document.querySelectorAll(':hover');
        l = elements.length
        l = l-1
        elementData = elements[l].__data__
        divTooltip.html((d.label)+"<br>"+elementData.name+":<br>"+elementData.value);
    });
bar
    .on("mouseout", function(d){
        divTooltip.style("display", "none");
    });
var legend = svg.selectAll(".legend")
    .data(options.slice())
    .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", color);
legend.append("text")
    .attr("x", width - 24)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "end")
    .text(function(d) { return d; });
    
</script>

<p style="text-align: left;margin-left: 50px; margin-right: auto;"><strong>Focusing on these 30 blocks, correlation coefficient and p-value were calculated by the permutation of their 4 attributes.</strong></p>
<br>
<table cellpadding="10" align="center" border="6">
<tr><th>Value Pair</th><th>Correlation Coefficient</th><th>p-value</th></tr>

<tr><td>Transport - Food</td><td>0.18443133126957592</td><td>0.24835610469426553</td></tr>
<tr><td>Transport - Rent</td><td>-0.063998564292522625</td><td>0.69097976291973018</td></tr>
<tr><td>Transport - Safety</td><td>-0.76594432658403122</td><td>0.00000000537058223953</td></tr>
<tr><td>Food - Rent</td><td>-0.22292437540342935</td><td>0.16122291338006584</td></tr>
<tr><td>Food - Safety</td><td>-0.35851557322730288</td><td>0.021350190751979622</td></tr>
<tr><td>Rent - Safety</td><td>0.0086379042630240748</td><td>0.9572538186779973</td></tr>

</table>  
<br>
<br>
<p style="text-align: left;margin-left: 50px; margin-right: auto;"><strong>With these values, we visualize their relationship by setting four attributes as the nodes and the value of (1-abs(Correlation Coefficient))*500 as the edge length, which means that if two attributes have higher Correlation Coefficient, they will be much closer than others.</strong></p>

<script type="text/javascript">
    var w = 1000;
    var h = 600;
    var linkDistance=200;
    var colors = d3.scale.category10();
    var dataset = {
    nodes: [
    {name: "Transport"},
    {name: "Food"},
    {name: "Rent"},
    {name: "Safety"},
    ],
    edges: [
    {source: 0, target: 1, value:600-225,text: ""},
    {source: 0, target: 2, value:600-104,text: ""},
    {source: 0, target: 3, value:600-520,text: "High CC"},
    {source: 1, target: 2, value:600-263,text: ""},
    {source: 1, target: 3, value:600-388,text: ""},
    {source: 2, target: 3, value:600-60,text: ""},
    ]
    };
 
    var svg = d3.select("body").append("svg").attr({"width":w,"height":h});
    var force = d3.layout.force()
        .nodes(dataset.nodes)
        .links(dataset.edges)
        .size([w,h])
        // .linkDistance([linkDistance])
        .linkDistance(function(d) { return  d.value; }) 
        .charge([-500])
        .theta(0.1)
        .gravity(0.05)
        .start();
    var edges = svg.selectAll("line")
      .data(dataset.edges)
      .enter()
      .append("line")
      .attr("id",function(d,i) {return 'edge'+i})
      // .attr('marker-end','url(#arrowhead)')
      .style("stroke","#ccc")
      .style("pointer-events", "none");
    
    var nodes = svg.selectAll("circle")
      .data(dataset.nodes)
      .enter()
      .append("circle")
      .attr({"r":15})
      .style("fill",function(d,i){return colors(i);})
      .call(force.drag)
    var nodelabels = svg.selectAll(".nodelabel") 
       .data(dataset.nodes)
       .enter()
       .append("text")
       .attr({"x":function(d){return d.x;},
              "y":function(d){return d.y;},
              "class":"nodelabel",
              "stroke":"black"})
       .text(function(d){return d.name;});
    var edgepaths = svg.selectAll(".edgepath")
        .data(dataset.edges)
        .enter()
        .append('path')
        .attr({'d': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
               'class':'edgepath',
               'fill-opacity':0,
               'stroke-opacity':0,
               'fill':'blue',
               'stroke':'red',
               'id':function(d,i) {return 'edgepath'+i}})
        .style("pointer-events", "none");
    var edgelabels = svg.selectAll(".edgelabel")
        .data(dataset.edges)
        .enter()
        .append('text')
        .style("pointer-events", "none")
        .attr({'class':'edgelabel',
               'id':function(d,i){return 'edgelabel'+i},
               'dx':30,
               'dy':30,
               'font-size':20,
               'fill':'#aaa'});
    edgelabels.append('textPath')
        .attr('xlink:href',function(d,i) {return '#edgepath'+i})
        .style("pointer-events", "none")
        .text(function(d,i){return d.text});
    svg.append('defs').append('marker')
        .attr({'id':'arrowhead',
               'viewBox':'-0 -5 10 10',
               'refX':25,
               'refY':0,
               //'markerUnits':'strokeWidth',
               'orient':'auto',
               'markerWidth':10,
               'markerHeight':10,
               'xoverflow':'visible'})
        .append('svg:path')
            .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
            .attr('fill', '#ccc')
            .attr('stroke','#ccc');
    force.on("tick", function(){
        edges.attr({"x1": function(d){return d.source.x;},
                    "y1": function(d){return d.source.y;},
                    "x2": function(d){return d.target.x;},
                    "y2": function(d){return d.target.y;}
        });
        nodes.attr({"cx":function(d){return d.x;},
                    "cy":function(d){return d.y;}
        });
        nodelabels.attr("x", function(d) { return d.x; }) 
                  .attr("y", function(d) { return d.y; });
        edgepaths.attr('d', function(d) { var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;
                                           //console.log(d)
                                           return path});       
        edgelabels.attr('transform',function(d,i){
            if (d.target.x<d.source.x){
                bbox = this.getBBox();
                rx = bbox.x+bbox.width/2;
                ry = bbox.y+bbox.height/2;
                return 'rotate(180 '+rx+' '+ry+')';
                }
            else {
                return 'rotate(0)';
                }
        });
    });
</script>

<p style="text-align: left;margin-left: 50px;margin-right: auto;"><strong>As the graph shows above, it is quite obviously that "Transport" and "Safety" has high Correlation Coefficient</strong></p>

</body>


  	    <!-- Home Page Button -->
 <a href="/" class="button">Home Page <i class="icon-chevron-right"></i></a>
<br>
<br>
<br>
<br>
<br>
{% endblock %}